body {
    background-color: #000000; /* Black background color */
    color: white;
}
footer {
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px 0;
  text-align: left;
}